<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuKN5RgmvGK_MVv5tBH5j_wAt0nOekNv4</string>
	<key>GCM_SENDER_ID</key>
	<string>576317568080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beeginner</string>
	<key>PROJECT_ID</key>
	<string>beeginner-4a1ad</string>
	<key>STORAGE_BUCKET</key>
	<string>beeginner-4a1ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576317568080:ios:62e236c747913afb050d55</string>
</dict>
</plist>